.formularioContacto {
  max-width: 1200px;
  margin: 2rem auto;
  text-align: center;
}

.formularioContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formularioContainer form {
  text-align: left;
  background: #f9f9f9;
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  border-top: 4px solid #007bff;
  width: 100%;
  max-width: 800px;
}

.formularioContainer form div {
  margin-bottom: 1rem;
}

.formularioContainer form label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

.formularioContainer form input,
.formularioContainer form select,
.formularioContainer form textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  max-width: 600px;
}

.formularioContainer form button {
  padding: 0.7rem 1.5rem;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

.formularioContainer form button:disabled {
  background: #ccc;
  cursor: not-allowed;
} 