.buscador-container {
  display: flex;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
}

.top-container{
  display: flex;
  justify-content: space-between;
}

.form-button{
    text-decoration: none;
    align-self: center;
    color: black;
    background-color: #ff6f00;
    padding: 10px 20px;
    border-radius: 45px;
}

.sidebar-filtros {
  position: sticky;
  top:0px;
  min-width: 220px;
  background: #f7f7f7;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 8px #0001;
  height: fit-content;
}
.resultados-buscador {
  flex: 1;
}
.ordenar-buscador {
  margin-bottom: 1rem;
}

.results-container{
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.card-game{
  text-decoration: none;
  color: black;
}

.card-game:hover img{
  scale: 1.05;
}


@media (max-width: 800px) {
  .buscador-container {
    flex-direction: column;
  }
  .sidebar-filtros {
    width: 100%;
    margin-bottom: 1rem;
  }
}
